<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="CopyPath" value=""/>
		<add key="LocalPastePath" value=""/>
		<add key="ServerPastePath" value=""/>
		<add key="IndividualDirectory" value=""/>
		<add key="ftpUser" value=""/>
		<add key="ftpPassword" value=""/>
		<add key="ftpServer" value=""/>
	</appSettings>
</configuration>
